# ----------------------------------------------------- #
#
#        ██╗░░░░░██╗░░░██╗████████╗███████╗██╗░░██╗
#        ██║░░░░░╚██╗░██╔╝╚══██╔══╝██╔════╝╚██╗██╔╝
#        ██║░░░░░░╚████╔╝░░░░██║░░░█████╗░░░╚███╔╝░
#        ██║░░░░░░░╚██╔╝░░░░░██║░░░██╔══╝░░░██╔██╗░
#        ███████╗░░░██║░░░░░░██║░░░███████╗██╔╝╚██╗
#        ╚══════╝░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝
#

### Server ###
DEBUG=false
JWT_SECRET_KEY=your-super-secret-jwt-key
JWT_REFRESH_SECRET_KEY=your-super-secret-refresh-key

### CORS ###
ALLOWED_ORIGINS=http://localhost:8000,https://bio.lytex.dev

### Database ###
DATABASE_URL=sqlite:///./biotrack.db
REDIS_URL=redis://redis:6379

# ----------------------------------------------------- #